.mainLayout {
    display: flex;
    height: 100%;
    justify-content: center;
    background-color: rgba(238, 238, 238, 0.527);
}

/* View container styles */
.mainViewContainer {
    padding: 25px;
    margin-right: 20px;
    width: 850px;
}

/* Side menu styles */
.menu {
    width: 350px;
    padding: 15px;
    padding-right: 0px;
    font-family: sans-serif;
}

.menuTitle {
    font-family: 'HeaderFont';
    font-size: 64px;
    color: green;
    padding-left: 25%;
    cursor: default;
}

.splitterHorizontal {
    width: 330px;
    border-bottom: solid 1px rgba(156, 156, 156, 0.3);
    margin-top: 10px;
    margin-bottom: 25px;
}

.userMiniatureImg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
}

.editAccountPanel {
    padding-left: 25px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.editAccountPanel:hover {
    cursor: pointer;
}

.greetingText {
   margin-left: 15px;
   
   margin-top: 15px;
   max-width: 250px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.editProfileText {
    color:  rgba(0,128,0);
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.editProfileText:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #00b418;
}

.menuItem {
   display: flex;
   margin-left: 15px;
   cursor: pointer;
   color: #767676;
}

.menuItemActive, .menuItem:hover {
    color: #00b418;
}

.menuItemIcon {
    color: rgb(185, 183, 183);
    font-size: 20px;
    padding: 10px;
}

.menuItemDescription {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.recommendedGridContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.recommendedItem {
    width: 70px;
    height: 70px;
    border-radius: 30%;
    z-index: -1;
}

.recommendedItemContainer {
    z-index: -1;
    cursor: pointer;
}

.recommendedText {
    font-size: 20px;
    color: green;
    margin-bottom: 10px;
    text-align: center;
    cursor: default;
    margin-right: 40px;
}

/* Find date view styles */
.findDateContainer {
    position: relative;
    width: 850px;
    height: 700px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.findDateContent {
    position: relative;
    text-align: center;
    width: 65%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: black;
}

.findDateDescription {
    position: absolute;
    left: 65%;
    top: 0%;
    width: 35%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

.actionButton {
    position: absolute;
    border-radius: 45px;
    width: 90px;
    height: 90px;
    background-color: white;
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
    font-size: 50px;
    z-index: 2;
}

.actionButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.actionButtonLike {
    top: 550px;
    left: 160px;
    color: rgb(255, 146, 164);
}

.actionButtonReject {
    top: 550px;
    left: 280px;
    color: rgb(197, 197, 197);
}

.actionButtonIcon {
    position: absolute;
    left: 20px;
    top: 20px;
}

.iconReject {
    left: 27px;
}

.buttonChangePhoto {
    position: absolute;
    top: 42%;
    font-size: 50px;
    color: rgb(197, 197, 197);
}

.buttonNextPhoto {
    right: 5%;
}

.buttonPreviousPhoto {
    left: 5%;
}

.switchPhotoPanel {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.switchPhotoPanelRight {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
    left: 50%;
}

.photoCountContainer {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: rgba(197, 197, 197, 0.5);
    width: 80px;
    height: 40px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: default;
}

.userPhotoSlide {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 1;
    transition: opacity 0.2s linear;
    user-select: none;
}

.userPhotoSlideHidden {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.displayedUsername {
    color: black;
    font-size: 40px;
    padding: 25px;
}

.displayedUserDescription {
    color:  rgb(71, 71, 71);
    padding-left: 22px;
    font-size: 25px;
}