.mainLayout {
    display: flex;
    height: 100%;
    justify-content: center;
    background-color: rgba(238, 238, 238, 0.527);
}

/* View container styles */
.mainViewContainer {
    padding: 25px;
    margin-right: 20px;
    width: 850px;
}

/* Side menu styles */
.menu {
    width: 350px;
    padding: 15px;
    padding-right: 0px;
    font-family: sans-serif;
}

.menuTitle {
    font-family: 'HeaderFont';
    font-size: 64px;
    color: green;
    padding-left: 25%;
    cursor: default;
}

.splitterHorizontal {
    width: 330px;
    border-bottom: solid 1px rgba(156, 156, 156, 0.3);
    margin-top: 10px;
    margin-bottom: 25px;
}

.userMiniatureImg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
}

.editAccountPanel {
    padding-left: 25px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.editAccountPanel:hover {
    cursor: pointer;
}

.greetingText {
   margin-left: 15px;
   
   margin-top: 15px;
   max-width: 250px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.editProfileText {
    color:  rgba(0,128,0);
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.editProfileText:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #00b418;
}

.menuItem {
   display: flex;
   margin-left: 15px;
   cursor: pointer;
   color: #767676;
   transition: color .2s linear;
}

.menuItemActive, .menuItem:hover {
    color: #00b418;
}

.menuItemIcon {
    color: rgb(185, 183, 183);
    font-size: 20px;
    padding: 10px;
}

.menuItemDescription {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.recommendedGridContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.recommendedItem {
    width: 70px;
    height: 70px;
    border-radius: 30%;
    z-index: -1;
}

.recommendedItemContainer {
    z-index: -1;
    cursor: pointer;
}

.recommendedText {
    font-size: 20px;
    color: green;
    margin-bottom: 10px;
    text-align: center;
    cursor: default;
    margin-right: 40px;
}

/* Find date view styles */
.findDateContainer {
    position: relative;
    width: 850px;
    height: 700px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.findDateContent {
    position: relative;
    text-align: center;
    width: 65%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: black;
}

.findDateDescription {
    position: absolute;
    left: 65%;
    top: 0%;
    width: 35%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

.actionButton {
    position: absolute;
    border-radius: 45px;
    width: 90px;
    height: 90px;
    background-color: white;
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
    font-size: 50px;
    z-index: 2;
}

.actionButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.actionButtonLike {
    top: 550px;
    left: 160px;
    color: rgb(255, 146, 164);
}

.actionButtonReject {
    top: 550px;
    left: 280px;
    color: rgb(197, 197, 197);
}

.actionButtonIcon {
    position: absolute;
    left: 20px;
    top: 20px;
}

.iconReject {
    left: 27px;
}

.buttonChangePhoto {
    position: absolute;
    top: 42%;
    font-size: 50px;
    color: rgb(197, 197, 197);
}

.buttonNextPhoto {
    right: 5%;
}

.buttonPreviousPhoto {
    left: 5%;
}

.switchPhotoPanel {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.switchPhotoPanelRight {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
    left: 50%;
}

.photoCountContainer {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: rgba(197, 197, 197, 0.5);
    width: 80px;
    height: 40px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: default;
}

.userPhotoSlide {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 1;
    transition: opacity 0.2s linear;
    user-select: none;
}

.userPhotoSlideHidden {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.displayedUsername {
    font-size: 35px;
    padding-left: 25px;
    padding-top: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    float: left;
}

.displayedUserAge {
    font-size: 31px;
    display: inline-block;
    padding-top: 27px;
}

.displayedUserDescription {
    display: block;
    color:  rgb(71, 71, 71);
    padding-top: 25px;
    padding-left: 22px;
    margin-right: 20px;
    font-size: 20px;
    clear: both;
    word-wrap: break-word;
}

.userDetailsLink > * {
    color: black;
    transition: color .2s linear;
}

.userDetailsLink:hover * {
    color: #00b418;
}

/*DatesView Styles */

.userTiles {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-gap: 50px 60px;
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.userTile {
    position: relative;
    width: 180px;
    height: 220px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.userTilePhoto {
    width: 100%;
    height: 80%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.userTileActionsContainer {
    position: relative;
    width: auto;
    height: 15%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.splitterVertical {
    width: 2px;
    margin-top: 5px;
    height: 80%;
    border-right: solid 1px rgba(156, 156, 156, 0.3);
}

.userTileActionIcon {
    position: absolute;
    top: 12%;
    left: 43%;
    font-size: 30px;
    cursor: pointer;
    transition: color .2s linear;
}

.userTileEnvelopeActionIcon {
    color: rgb(146, 193, 255);
}

.userTileEnvelopeActionIcon:hover {
    color: rgb(64, 144, 248);
}

.userTileHeartActionIcon {
    color: rgb(255, 146, 164);
}

.userTileHeartActionIcon:hover {
    color: rgb(255, 81, 110);
}

.userTileDescription {
    position: absolute;
    color: white;
    font-size: 20px;
    bottom: 22%;
    left: 5%;
}

.customScrollbar:hover > div {
    opacity: 1 !important;
}

.noMatchFoundText {
    position: absolute;
    top: 40%;
    left: 10%;
    font-family: sans-serif;
    color: #767676;
    font-size: 28px;
}

.userDetailsTitle {
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    position: relative;
}

.photoTape {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    width: 700px;
    margin-top: 30px;
}

.photoTapeImg {
    width: 150px;
    height: 150px;
}

.userInfoContainer {
    margin-top: 45px;
}

.userInfoTitle {
    font-family: sans-serif;
    font-size: 22px;
    color: black;
    position: relative;
}

.userInfoContent {
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 18px;
    width: 80%;
    color: #767676;
}

.userDetailsActionIcon {
    position: relative;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: color .2s linear;
    color: rgb(255, 146, 164);
}

.userDetailsActionIcon:hover {
    color: rgb(255, 81, 110);
}

.userDetailsEditIcon {
    color: rgb(185, 183, 183);
    font-size: 20px;
    transition: color .2s linear;
    margin-left: 20px;
}

.userDetailsEditIcon:hover {
    cursor: pointer;
    color: rgb(124, 124, 124);
}

textarea {
    width: 50%;
    height: 50px;
    resize: none;
}

.userInfoButton {
    display: block;
}

.addPhotoButton {
    color: rgb(185, 183, 183);
    font-size: 42px;
    padding: 10px;
    margin-top: 60%;
    margin-left: 10px;
    transition: color .2s linear;
}

.addPhotoButton:hover {
    cursor: pointer;
    color: rgb(124, 124, 124);
}
