/*Whole panel styles*/

.userPanelContainer {
    position: absolute;
    top: 57%;
    left: 50%;
    height: 720px;
    width: 900px;
    transform: translate(-50%);
}

.flipCardContainer {
    width: 100%;
    height: 100%;
    transition: transform 1s, width 10s, visibility 10s;
    transform-style: preserve-3d;
    cursor: initial;
    position: relative;
}

.flipCardContainer.isFlipped {
    transform: rotateY(-180deg);
}

.userPanel {
    position: absolute;
    box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
}

.back {
    transform: rotateY(-180deg);
    display: grid;
    grid-template-columns: 439px 30px 440px;
    justify-content: space-around;
}

/*Slide show container styles*/

.slideShowContainer {
    width: 100%;
    height: 60%;
}

.loginSlide {
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
    user-select: none;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.coveredPanel {
    z-index: -1;
}

.slideContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.sildeDotContainer {
    position: absolute;
    top: 80%;
    left: 40%;
}

.slideDot {
    width: 14px;
    height: 14px;
    border: 3px solid #d5d5d5;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.slideDotActive, .slideDot:hover {
    background-color: green;
    border-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Login form styles*/

.loginPanel {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
}

.userInputBox {
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1.5px rgba(179, 179, 179, 0.404);
    margin: 0 0 20px;
    width: 350px;
}

.iconContainer {
    float: left;
    border-radius: 10px 0 0 10px;
    width: 50px;
    box-shadow: 0px 0px 0px 1.5px rgba(179, 179, 179, 0.404);
}

.loginIcon {
    color: rgb(185, 183, 183);
    font-size: 24px;
    margin: 0 5px 0;
    padding: 10px;
}

.inputContainer {
    margin: 0 5px 0;
    padding: 10px;
    float: left;
    width: 100%;
}

.inputContainer input {
    border: 0;
    outline: 0;
    font-size: 16px;
    color: black;
    margin-left: 10px;
    height: 100%;
    width: 100%;
}

.cursorPointer {
    cursor: pointer;
}

.cursorPointer:hover {
    color: rgb(143, 143, 143);
}

::placeholder {
    font-size: 16px;
    font-style: italic;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: rgb(170, 170, 170);
}

.formLoginButton {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(0, 146, 0);
    color: rgb(255, 255, 255);
    letter-spacing: .08em;
    transition: background-color .6s ease;
    -webkit-transition: background-color .6s ease;
    padding: 5px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    font-size: 16px;
    font-family: Sans-Serif;
    user-select: none;
    float: right;
}

.formLoginButton:hover, .formLoginButton:focus {
    background: #00b418;
    cursor: pointer;
    outline: 0;
}

.checkboxContainer {
    position: relative;
    display: flex;
    float: left;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    margin-top: 8px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkboxContainer:hover .checkmark {
    background-color: #ccc;
}

.checked {
    background-color: rgb(0, 146, 0) !important;
}

.checkboxLabel {
    font-size: 17px;
    color: rgb(126, 126, 126);
    margin-left: 8px;
    margin-top: 10px;
}

.check {
    position: absolute;
    top: 12px;
    left: 9px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.helpfulLinksContainer {
    position: absolute;
    top: 190px;
    width: 350px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.greenHelpfulLink {
    color: green;
    -moz-user-select: none;
    -webkit-user-select: none;
    float: left;
}

.greenHelpfulLink:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: green;
}

.greyHelpfulLink {
    color: rgb(126, 126, 126);
    -moz-user-select: none;
    -webkit-user-select: none;
    float: right;
}

.greyHelpfulLink:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(126, 126, 126);
}

/*Register panel styles*/
.registerPanelContainer, .imageUploadContainer {
    margin: 15px 15px 15px;
}

.splitter {
    margin: 15px 15px 15px;
    border-left: solid 1px rgba(156, 156, 156, 0.5);
}

.registerPanelTitle {
    position: relative;
    color: rgb(110, 110, 110);
    font-size: 30px;
    font-family: sans-serif;
}

.registerPanelTitle.left {
    margin: 40px 0px 0px 30px;
}

.registerPanelTitle.right {
    margin: 40px 10px 0px 0px;
}

.registerPanel {
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    height: 75%;
    margin-left: 30px;
}

input.dateInputEmpty::-webkit-datetime-edit-day-field, 
input.dateInputEmpty::-webkit-datetime-edit-month-field,
input.dateInputEmpty::-webkit-datetime-edit-year-field, 
input.dateInputEmpty::-webkit-datetime-edit-text {
    color: rgb(170, 170, 170);
}

::-webkit-datetime-edit-day-field, 
::-webkit-datetime-edit-month-field, 
::-webkit-datetime-edit-year-field, 
::-webkit-datetime-edit-text {
    color: black;
}

.dateInputEmpty {
    font-size: 16px;
    font-style: italic;
}

.dateInput {
    font-size: 16px;
    font-style: normal;
}

.registerButton {
    border-radius: 10px;
    height: 45px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(0, 146, 0);
    color: rgb(255, 255, 255);
    letter-spacing: .08em;
    transition: background-color .6s ease;
    -webkit-transition: background-color .6s ease;
    padding: 5px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    font-size: 16px;
    font-family: Sans-Serif;
    user-select: none;
}

.registerButton:hover, .registerButton:focus {
    background: #00b418;
    cursor: pointer;
    outline: 0;
}

.genderPicker {
    display: flex;
    margin-left: 10px;
}

.genderOption {
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
}

.genderPickIcon {
    color: rgb(185, 183, 183);
    font-size: 24px;
    padding: 10px 0px 10px 0px;
}

/*Photo upload widget styles*/
.photoUploadFrame {
    margin-top: 50px;
    margin-left: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    border: dotted rgb(168, 168, 168);
    width: 90%;
}

.imageUploadIcon {
    color: rgb(228, 228, 228);
    font-size: 280px;
    margin: 0 5px 0;
    padding: 10px;
}