body {
    margin: 0px;
}

.viewContainer {
    position: relative;
    width: 100%;
    height: 100%; 
}

.loginButtonContainer {
    position: absolute;
    width: 120px;
    height: 22px;
    padding: 5px;
    perspective: 600px;
    top: 9%;
    right: 10%;
}

.flipCardContainer {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.flipCardContainer.isFlipped {
    transform: rotateY(-180deg);
}

.loginButton {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    border: 2px solid rgb(255, 255, 255);
    background:  rgba(0,128,0,0.8);
    color: rgb(255, 255, 255);
    letter-spacing: .08em;
    transition: background-color .6s ease;
    -webkit-transition: background-color .6s ease;
    padding: 5px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    font-size: 18px;
    font-family: Candara;
    font-style: italic;
}

.loginButtonBack {
    transform: rotateY(-180deg);
}

.loginButton:hover {
    background: #00a116;
    cursor: pointer;
}

.headerImage {
    background-image: url("/images/HeaderImage.PNG");
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}