body {
    margin: 0px;
    overflow-x: hidden;
}

.viewContainer {
    position: relative;
    width: 100%;
    height: 100%; 
}

.loginButtonContainer {
    position: absolute;
    width: 120px;
    height: 22px;
    padding: 5px;
    perspective: 600px;
    top: 9%;
    right: 10%;
}

.flipCardContainer {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.flipCardContainer.isFlipped {
    transform: rotateY(-180deg);
}

.loginButton {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background:  rgba(0,128,0);
    color: rgb(255, 255, 255);
    letter-spacing: .08em;
    transition: background-color .6s ease;
    -webkit-transition: background-color .6s ease;
    padding: 5px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    font-size: 18px;
    font-family: Sans-Serif;
    cursor: pointer;
}

.loginButtonBack {
    transform: rotateY(-180deg);
}

.loginButton:hover, .loginButton:focus {
    background: #00b418;
}

.headerImage {
    background-image: url("/images/HeaderImage.PNG");
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Footer styles*/
.footerContainer {
    position: absolute;
    max-width: 900px;
    width:100%;
    height: 20px;
    border-top: solid 1px rgba(156, 156, 156, 0.5);
    top: 435%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 5px;
}

.footerLink {
    display: inline-block;
    font-size: 13px;
    font-family: sans-serif;
    padding: 15px 10px 5px;
    width: auto;
    cursor: default;
    color: rgb(150, 150, 150);
    transition: color .6s ease;
    -webkit-transition: color .6s ease;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.copyright {
    float: right;
    padding: 15px 5px 5px 5px;
    font-size: 11px;
    color: rgb(150, 150, 150);
    cursor: default;
    font-family: sans-serif;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.footerLink:hover {
    color: green;
    cursor: pointer;
}

@font-face {
    font-family: 'HeaderFont';
    src: local('HeaderFont'), url(../fonts/Parisienne.woff) format('woff');   
}

.test {
    position: absolute;
    color: white;
    font-size: 65px;
    top: 5%;
    left: 50%;
    font-family: 'HeaderFont';
    transform: translate(-50%);
    letter-spacing: 3px;
}